# Свиток зависимостей для Тухлого Феникса
python-telegram-bot==20.3  #  Крылья бота (основная библиотека)
praw==7.7.0                #  Красный Алтарь (Reddit API)
python-dotenv==1.0.0       #  Ключник от .env файлов